main {
    margin-top: -5%;
}

.title {
    text-align: center;
    margin-left: -10px;
    margin-right: -10px;
}

.title h4 {
    display: inline;
}

.title h1 {
    font-size: 250%;
    background: -webkit-linear-gradient(purple, lightblue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-bottom: -5px;
}

.lumi {
    background: -webkit-linear-gradient(black, lightblue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}