main {
    animation: fadeIn;
    animation-duration: 1s;
}

footer {
    text-align: center;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

.greeting {
    text-align: center;
    margin-top: 1rem;
    background-image: linear-gradient(45deg, pink, #7CB9E8,#7CB9E8, pink);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.info h2 {
    color: pink;
}

.info ul {
    color: #afeeee
}

.links h2 {
    color: pink;
}

.projects h2 {
    color: pink;
    text-align: center;
}

.elphelt {
    max-width: 30%;
    max-height: 30%;
    float: right;
    background-position: right;
    position: relative;
    margin-top: -10.5%;
    display: flex;
}

.desktop {
    max-width: 50%;
    max-height: 50%;
    float: right;
    margin-top: -10.5%;
}

.buttons {
    background-color: lightcoral;
    border-color: lightcoral;
    width: 75%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.button-container {
    animation-name: floating;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}